{% extends 'base.html.twig' %}

{% block body_id 'invoice_invoice_show' %}

{% block main %}
    <h1>{{ invoice.id }}</h1>

    <p class="invoice-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ invoice.invoice.InvoiceDate|format_datetime('long', 'medium', '', 'UTC') }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ invoice.invoice.customerId }}</span>
    </p>


    <div id="invoice-add-comment" class="well">
        {# The 'IS_AUTHENTICATED_FULLY' role ensures that the user has entered
        their credentials (login + password) during this session. If they
        are automatically logged via the 'Remember Me' functionality, they won't
        be able to add a comment.
        See https://symfony.com/doc/current/security/remember_me.html#forcing-the-user-to-re-authenticate-before-accessing-certain-resources
        #}

    </div>

    
        <div class="invoice-comment">
            <p>Quantity: {{ invoice.quantity }}</p>
            <p>Amount: {{ invoice.amount }}</p>
            <p>Description: {{ invoice.description }}</p>
            <p class="invoice-metadata">
                <span class="metadata"><i class="fa fa-calendar"></i> {{ invoice.invoice.invoiceDate|format_datetime('long', 'medium', '', 'UTC') }}</span>
                <span class="metadata"><i class="fa fa-user"></i> {{ invoice.invoice.customerId }}</span>
            </p>
        </div>
{% endblock %}

{% block sidebar %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="#">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_invoice'|trans }}
            </a>
        </div>

    {# the parent() function includes the contents defined by the parent template
      ('base.html.twig') for this block ('sidebar'). This is a very convenient way
      to share common contents in different templates #}
    {{ parent() }}
{% endblock %}
